name: Build Engine

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Install dependencies
        run: uv sync

      - name: Build engine
        run: uv run sonolus-py build

      - name: Upload engine artifact
        uses: actions/upload-artifact@v4
        with:
          name: next-sekai-rush-plus-engine
          path: build/dist/
