name: Check Format

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['master']
        types: [opened, synchronize, reopened, ready_for_review]

defaults:
    run:
        working-directory: ./js

jobs:
    check:
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v3
              with:
                  node-version: 'lts/*'
            - run: npm ci
            - run: npm run biome
