name: Check Type

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['master']

defaults:
    run:
        working-directory: ./js

jobs:
    check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v3
              with:
                  node-version: 'lts/*'
            - run: npm ci
            - run: npm run check-type
